/*Web design and development course page styling*/

/*Website page styling*/


.web-development{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .title {
    text-align: center;
    font-size: 4rem;
    color: blue;
    margin-bottom: 3rem;
  }
}



.join-web-development{
  width: 90%;
  background-color: rgba(214, 221, 223, 0.384);
  width: 90%;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  h2{
      text-align: center;
      font-size: 3.5rem;
      line-height: 5rem;
  }
  span{
      color: orange;
  } 
  p{
      margin: 2rem, 0;
      margin-top: 2.5rem 0;
      font-size: 2.5rem;
      line-height: 4rem;
  }
}

.join-us-link{
  display: block;
  width: 70%;
  font-size: 3rem;
  text-align: center;
  background-color: orange;
  border-radius: 0.5rem;
  text-transform: uppercase;
  padding: 1rem 2rem; 
  text-decoration: none;
  margin-top: 3rem;

  &:hover{
      background: rgba(45, 233, 217, 0.966); 
      cursor: pointer;
      transition: 0.2s;
  }
}

.login-form{
  grid-area: login-form;
  background-color: rgba(0, 0, 0, 0.884);
  padding: 5rem 3rem;
  border-radius: 0.5rem;
  color: white;

  fieldset{
      width: 90%;
      margin: auto;
      border: none;
  }
  legend{
      text-align: center;
      background-color: white;
      color: black;
      margin-bottom: 2rem;
      font-size: 3.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }

    input{
      display: block;
      width: 100%;
      font-size: 2rem;
      padding: 1rem;
      margin-top: 2rem;
      border-radius: 0.4rem;
      background: transparent;
      color: white;
    }

    p{
      font-size: 2rem;
      margin-top: 2rem;
      text-align: center;
    }

    button{
      display: block;
      width: 100%;
      font-size: 2.5rem;
      font-weight: bold;
      background: orange;
      border-radius: 0.7rem;
      padding: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;

      &:hover{
          background: rgba(45, 233, 217, 0.966);
          cursor: pointer;
          transition: 0.2s;
        }
    }
}

.blog-social-media a{
display: inline-block;
text-decoration: none;
margin-top: 1rem;
font-size: 5rem;
color: rgb(187, 134, 175);
margin-left: 4.5rem;
}

.fab:hover{
color: rgba(45, 233, 217, 0.966);
transition: 0.2s;
}

/* Tablet and Desktop*/

@media (min-width: 768px) {

.web-development{
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: repeat(1, 1fr);
  column-gap: 5rem;
  row-gap: 1rem;
  margin: 10rem 25rem;
  grid-template-areas: 
      "title title"
      "join-web-development login-form";
}

.title{
  grid-area: title;
  text-align: center;
  font-size: 4rem;
  color: blue;
  margin-bottom: 3rem;
}

.join-web-development{
  grid-area: join-web-development;
  background-color: rgba(214, 221, 223, 0.384);
  width: 90%;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 0.5rem;

  h2{
      text-align: center;
      font-size: 3.5rem;
      line-height: 5rem;
  }
  span{
      color: orange;
  } 
  p{
      margin: 2rem, 0;
      margin-top: 2.5rem 0;
      font-size: 2.5rem;
      text-align: justify;
      line-height: 4rem;
  }
}

.join-us-link{
  width: 90%;
  display: block;
  font-size: 3rem;
  text-align: center;
  background-color: orange;
  border-radius: 0.5rem;
  text-transform: uppercase;
  padding: 1rem 2rem; 
  text-decoration: none;
  margin-top: 5rem;

  &:hover{
      background: rgba(45, 233, 217, 0.966); 
      cursor: pointer;
      transition: 0.2s;
  }
}

.login-form{
  grid-area: login-form;
  background-color: rgba(0, 0, 0, 0.884);
  padding: 5rem 3rem;
  border-radius: 0.5rem;
  color: white;

  fieldset{
      width: 90%;
      margin: auto;
      border: none;
  }
  legend{
      text-align: center;
      background-color: white;
      color: black;
      margin-bottom: 2rem;
      font-size: 3.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }

    input{
      display: block;
      width: 100%;
      font-size: 2rem;
      padding: 1rem;
      margin-top: 2rem;
      border-radius: 0.4rem;
      background: transparent;
      color: white;
    }

    p{
      font-size: 2rem;
      margin-top: 2rem;
      text-align: center;
    }

    button{
      display: block;
      width: 100%;
      font-size: 2.5rem;
      font-weight: bold;
      background: orange;
      border-radius: 0.7rem;
      padding: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;

      &:hover{
          background: rgba(45, 233, 217, 0.966);
          cursor: pointer;
          transition: 0.2s;
        }
    }
}

.blog-social-media a{
display: inline-block;
text-decoration: none;
margin-top: 1rem;
font-size: 5rem;
color: rgb(187, 134, 175);
margin-left: 4.5rem;
}

.fab:hover{
color: rgba(45, 233, 217, 0.966);
transition: 0.2s;
}
}
